<nav class="navbar" style="background-color: black;">
    <a class="navbar-brand" href="/productos">
      <img src="https://1000marcas.net/wp-content/uploads/2019/11/Nike-emblema.jpg" style="width: 100px; height: 50px; padding-left: 5%;" alt="">
    </a>

    <%- include('./add-btn.ejs') -%>
</nav>