<div class="messages-header">
    <h1 style="color: #11324D;">Centro de Mensajes</h1>
    <span id="greeting" style="color: #57CC99; font-size: 25px; padding-left: 5%;"></span>
</div>
<br>

<div class="container">
    <form action="" id="user-input">
        <div class="form-group row">
            <input type="text" class="form-control" id="user" placeholder="Ingrese nombre de usuario" autocomplete="off">  
        </div>

    </form>
    <hr>
      
    <div id="chat-container" style="display: none;">
        <div class="send-messages">
            <p></p>
        </div>

        <form action="" id="submit-message">
            <input type="text" class="form-control" id="chat-message" placeholder="Envia un mensaje" autocomplete="off">  
            
        </form>
    </div>

</div>