<h1 style="color: #11324D;">Ingrese Nuevo Producto</h1>
<br>

<div class="container formContainer" style="padding: 2%;">
  <form action="" id="formulario">

      <div class="form-group row">
        <label for="nombre" style="font-weight: bold; font-size: 20px;">Nombre</label><br>
        <input type="text" class="form-control" id="nombre" autocomplete="off">
        
      </div>

      <div class="form-group row">
        <label for="price" style="font-weight: bold; font-size: 20px;">Codigo</label><br>
        <input type="text" class="form-control" id="codigo" autocomplete="off">
        
      </div>

      <div class="form-group row">
          <label for="img" style="font-weight: bold; font-size: 20px;">Precio</label><br>
          <input type="text" class="form-control" id="precio" autocomplete="off">
          
      </div>

      <div class="form-group row">
        <label for="img" style="font-weight: bold; font-size: 20px;">Stock</label><br>
        <input type="text" class="form-control" id="stock" autocomplete="off">
        
      </div>

        <div class="form-group row">
            <button id="submit-btn" type="submit" class="btn btn-rounded" style="background-color: #57CC99;">Guardar</button>
          
        </div>

  </form>
  
</div>

